<h2>Exemplo de usuarios</h2>
<div class="form-group col-md-6">
    <label>nome</label>
    <input class="form-control" [(ngModel)]="usuarioObject.nome"   />
</div>
<div class="form-group col-md-6">
    <label>idade</label>
    <input class="form-control" [(ngModel)]="usuarioObject.idade"   />
</div>
<div *ngIf="!edit" class="form-group col-md-3">
    <button class="btn btn-primary" (click)="salvarUsuario(usuarioObject)">Incluir</button>
</div>
<div *ngIf="edit" class="form-group col-md-3">
    <button class="btn btn-primary" (click)="editarUsuario(usuarioObject, true)">Editar</button>
</div>
<table class="table table-hover table-striped">
    <tr>
        <th>
            _id
        </th>
        <th>
            nome
        </th>
        <th>
            idade
        </th>
        
    </tr>
    <tr     *ngFor="let usuario of usuarios; let i = index">
        <td>
            {{usuario._id}}
        </td>
        <td>
            {{usuario.nome}}
        </td>
        <td>
            {{usuario.idade}}
        </td>
         <td>
            <button class="btn btn-primary" (click)="editarUsuario(usuario)">Editar</button>
        </td>
        <td>
            <button class="btn btn-danger" (click)="deletarUsuario(usuario._id, i)">Deletar</button>
        </td>
    </tr>
</table>